<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>book name</th>
                    <th>date</th>
                    <th>price</th>
                    <th>amount</th>
                    <th>action</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for='(item, index) in books'>
                    <td v-for='value in item'>{{value}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.date}}</td>
                    <td>{{item.price | showPrice}}</td>
                    <td>
                        <button @click='decrement(index)' v-bind:disabled="item.count <= 1">-</button>
                        {{item.count}}
                        <button @click='increment(index)'>+</button>
                    </td>
                    <td>
                        <button @click='removeHandle(index)'>remove</button>
                    </td>

                </tr>
            </tbody>
        </table>
        <h2>Total price: {{ }}</h2>
    </div>

    <script src="../js/vue.js"></script>
    <script src="main.js"></script>
    <script></script>
</body>

</html>